/*
	@ 2016/5/3
	@ irene 
 */ 
@charset "utf-8";

body{background: #fef7f0}
/*谢谢你的爱*/
.thinks_main {width:925px;margin:0 auto;padding-top:20px;padding-bottom: 50px;}

.return {text-align: right;color:#5c3b1f;font-size: 14px;height: 30px;line-height: 30px;}
.return a{color:#5c3b1f;text-decoration: underline;}

/*手机充值例表*/
.thinks_main h2 i{position:absolute;display:block;background: #fef7f0;padding-right:10px;height: 35px;line-height: 35px;top:0;color:#323232;font-size: 14px;}
.card_list h2 {text-align: right;height: 35px;margin: 20px 0;position: relative;}
.card_list h2 i{left:115px;}
.card_list .card {width:225px;height: 170px;display: inline-block;margin-right: 3px;margin-bottom: 20px;}
.card_list .card:last-child{margin-right: 0px;}
.card_list .card dt{width:225px;background: url(../img/thinks/card_bc.png) no-repeat; height: 129px;}
.card_list .card dt img {margin:58px 0 0 12px;}
.card_list .card dd {color:#666;font-size: 14px;padding-top: 15px;}
.card_list .card .card_num {float: left;display: inline-block;height: 26px;line-height: 26px;font-size: 12px;color: #969696}
.card_list .card .convert_btn {display: inline-block;cursor:pointer;float: right;height: 26px;color:#fff;line-height:26px;padding:0 8px;background: url(../img/thinks/dh_btn.png) repeat-x;border-radius: 3px;margin-right: 16px;}
.card_list .card .convert_btn img{display: inline-block;float: left}

/*鲜花赠送例表*/
.flower_list h2 {text-align: right;height: 35px;margin: 20px 0 40px;position: relative;}
.flower_list h2 i{left:100px;}
.flower_list dl {float:left;text-align: center;width:203px;margin-right: 36px; height: 320px;}
.flower_list dd {padding:0 15px;}
.flower_list dd .card_num{font-size: 12px;color: #969696;height: 50px; line-height: 50px;}
.flower_list .top_list {display: inline-block;}
.flower_list .convert_btn {font-size:14px;margin-bottom:10px;display: block;cursor:pointer;height: 26px;color:#fff;line-height:26px;padding:0 8px;background: url(../img/thinks/dh_btn.png) repeat-x;border-radius: 3px;}
.flower_list dd img{display: inline;    vertical-align: -7px;margin-right: 8px;}
.flower_list .convert_btn_vip {font-size:14px;margin-bottom:10px;display: block;cursor:pointer;height: 26px;color:#fff;line-height:26px;padding:0 8px;background: url(../img/thinks/dh_btn1.png) repeat-x;border-radius: 3px;}
.flower_list dl:last-child .convert_btn_vip {margin-top:20px;}
.message {color:#969696;font-size: 14px;}

/*老师鲜花排行*/
.top_list{height: 345px;width:207px;border:1px dotted #d53781;border-radius: 10px;position: relative;padding:15px;}
.top_list h2{margin:0;position: absolute;right:0;top:-25px;}
.top_list h3{color:#969696;height: 40px;font-size: 14px;padding-top: 10px;}
.top_list ul li {color:#969696;font-size: 14px;height: 30px;line-height: 30px;}
.top_list ul li.me{color:#d53781;font-size: 14px;}
.top_list ul li .name{    vertical-align: -9px;max-width:52px;display: inline-block;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
.top_list ul li .flower_num{float: right;}
.top_list ul li img{width:20px;vertical-align: -5px}

/*弹框样式*/
.position_all {display:none;position: fixed;width:100%;height: 100%;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.5);}
.alert_convert {display:none;background:#fff;height: 650px;width:540px;position: fixed;top: 50%;left:50%;transform:translate(-50%,-50%);}
.close_btn {z-index:996;position: absolute;right:-20px;top:-20px;height: 45px;width:45px;display: inline-block;background: url(../img/close_btn.png);cursor:pointer;}
.card_convert {background: url(../img/card_back.png) no-repeat top #f6f0eb;}
.convert_body .qb {position:absolute;top: 149px;left: 163px;transform: rotate(13deg);}
.card_convert .convert_body {padding-top: 365px;padding-right: 32px;}
.card_convert .item {position:relative;padding-left:80px;color:#fff;font-size: 16px;height: 42px;line-height: 42px;}
.card_convert .item input{font-size:12px;padding-left:10px;width: 315px;height: 30px;line-height: 30px;margin-left: 20px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;}
.card_convert .error {height:32px;padding-top:5px;color:#fff;padding-left: 150px;font-size: 14px;}
.card_convert .phone_text {line-height: 22px;padding-left: 65px;padding-top: 8px; height: 80px;}
.card_convert .phone_text p{font-size: 14px;}
.card_convert textarea {top:8px;height:50px;padding:10px;width: 293px;font-size: 12px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;position: absolute;font-family: "微软雅黑";left: 164px;}
.btn_box {height: 75px;width:100%;text-align: center;}
.btn_box .btn_convert{display:inline-block;margin:20px auto;cursor:pointer;color:#fff;font-size:20px;height: 40px;padding:0 20px;text-align: center;border-radius: 20px;background: linear-gradient(#ff8d00,#ff7600,#ff5a00);border:1px solid #db4300;box-shadow:1px 1px 3px #ff8938 inset,1px 1px 5px #555;}
.btn_box .nut_img{display: inline;vertical-align: middle;}

/*弹框内小弹框*/
.inner_position {display:none;position: absolute;height: 100%;width:100%;background: rgba(255,255,255,.9);top:0;}
.alert_result {display:none;box-shadow:5px 5px 5px #dcdcdc;width:390px;margin:50px auto;min-height:400px;position: relative;background: #f6f0eb}
.alert_result h2 {border-radius:5px 5px 0 0;text-align:center;font-size:20px;color:#fff;height: 52px;line-height: 52px; background: linear-gradient(#fe7900,#d75301)}
.result_body {padding:40px 0 20px;text-align: center;}
/*充值兑换成功弹框内容*/
.result_body h3{color:#666;font-size: 18px;height: 42px;}
.result_body h4{color:#f16700;font-size: 24px;height: 43px;font-weight: bold;}
.result_body .qb_img{text-align:left;display: inline-block;width:322px;height: 183px;background: url(../img/fox_phone.png);}
.result_body .qb_img img{margin: 54px 0 0 16px;width: 119px;}
.result_body .know_btn{display:block;margin:40px auto 0;cursor:pointer;color:#fff;font-size:16px;line-height:30px;height: 35px;width:123px;text-align: center;border-radius: 3px;background: linear-gradient(#f16f1c,#cf3600);border:1px solid #db4300;box-shadow:1px 1px 3px #ff8938 inset;}

/*鲜花赠送弹框*/
.fllower_zs {height: 654px;width:897px;background: #f6f0eb;background: url(../img/card_msp.png);}
.fllower_zs .convert_body{ height: 651px;width:897px;padding-top:565px;position:relative;box-sizing:border-box;}
.fllower_zs .fllower {position:absolute;left: 99px;top: 181px;width: 325px;}
.fllower_zs textarea {top:194px;height:252px;width: 285px;max-height:252px;max-width: 285px;padding:10px;font-size: 18px;border-radius: 5px;box-shadow: 0 3px 10px #eee7e0 inset;border:0;position: absolute;font-family: "微软雅黑";left: 510px;}
.fllower_zs input {top:120px;left:560px;height:38px;width: 180px;font-size: 18px;position:absolute;background: transparent;}
.fllower_zs input.form {top:490px;left:590px;}


/*鲜花兑换成功弹框*/
.one_flow {width: 32px;vertical-align: -9px;}
.img_zswp {margin:10px auto;}
.alert_result p strong{color:#ff5f00;font-size: 24px;margin-right: 10px}
.alert_result p{color:#666;font-size: 18px;height: 42px;font-weight: bold}
.result_body .mart_20 {margin-top: 20px}
.result_body .mart_0 {margin-top: 0px}

/*老师收到鲜花贺卡*/
.fllower_card {height: 630px;width:897px;background: #f6f0eb;background: url(../img/card_msp.png);}
.fllower_card .convert_body{ height: 651px;width:897px;padding-top:565px;position:relative;box-sizing:border-box;}
.fllower_card .fllower {position:absolute;left: 99px;top: 181px;width: 325px;}
.fllower_card textarea[disabled] {top:194px;height:252px;width: 285px;max-height:252px;max-width: 285px;padding:10px;font-size: 18px;border-radius: 5px;box-shadow: 0 3px 10px #eee7e0 inset;border:0;position: absolute;font-family: "微软雅黑";left: 510px;}
.fllower_card input {top:120px;left:560px;height:38px;width: 180px;font-size: 18px;position:absolute;background: transparent;}
.fllower_card input.form {top:490px;left:590px;}
.fllower_card .text_bottom{line-height: 57px;color:#646464;padding-left:20px;}
.fllower_card .text_bottom strong{color:#f87c0e;font-size:24px;margin:0 5px;}
.fllower_card .text_bottom span.btn_konw_teach{margin:15px 40px;display:block;float:right;cursor:pointer;color:#fff;font-size:16px;line-height:30px;height: 35px;width:123px;text-align: center;border-radius: 3px;background: linear-gradient(#f16f1c,#cf3600);border:1px solid #db4300;box-shadow:1px 1px 3px #ff8938 inset;}

