/*
	@ 2016/5/3
	@ irene 
 */ 
@charset "utf-8";

body{background: #fef7f0}
/*谢谢你的爱*/
.thinks_main {width:925px;margin:0 auto;padding-top:20px;padding-bottom: 50px;}

.return {text-align: right;color:#5c3b1f;font-size: 14px;height: 30px;line-height: 30px;}
.return a{color:#5c3b1f;text-decoration: underline;}

/*手机充值例表*/
.card_list h2 {text-align: right;height: 35px;margin: 20px 0}
.card_list .card {width:225px;height: 170px;display: inline-block;margin-right: 3px;}
.card_list .card:last-child{margin-right: 0px;}
.card_list .card dt{width:225px;background: url(../img/thinks/card_bc.png) no-repeat; height: 129px;}
.card_list .card dt img {margin:58px 0 0 12px;}
.card_list .card dd {color:#666;font-size: 14px;padding-top: 15px;}
.card_list .card .card_num {float: left;display: inline-block;height: 26px;line-height: 26px;font-size: 12px;color: #969696}
.card_list .card .convert_btn {display: inline-block;cursor:pointer;float: right;height: 26px;color:#fff;line-height:26px;padding:0 8px;background: url(../img/thinks/dh_btn.png) repeat-x;border-radius: 3px;margin-right: 16px;}
.card_list .card .convert_btn img{display: inline-block;float: left}

/*鲜花赠送例表*/
.flower_list h2 {text-align: right;height: 35px;margin: 40px 0}
.flower_list dl {float:left;text-align: center;width:203px;margin-right: 36px; height: 320px;}
.flower_list dd {padding:0 15px;}
.flower_list dd .card_num{font-size: 12px;color: #969696;height: 50px; line-height: 50px;}
.flower_list .top_list {display: inline-block;}
.flower_list .convert_btn {font-size:14px;margin-bottom:10px;display: block;cursor:pointer;height: 26px;color:#fff;line-height:26px;padding:0 8px;background: url(../img/thinks/dh_btn.png) repeat-x;border-radius: 3px;}
.flower_list dd img{display: inline;    vertical-align: -7px;margin-right: 8px;}
.flower_list .convert_btn_vip {font-size:14px;margin-bottom:10px;display: block;cursor:pointer;height: 26px;color:#fff;line-height:26px;padding:0 8px;background: url(../img/thinks/dh_btn1.png) repeat-x;border-radius: 3px;}
.flower_list dl:last-child .convert_btn_vip {margin-top:20px;}
.message {color:#969696;font-size: 14px;}

/*老师鲜花排行*/
.top_list{height: 345px;width:207px;border:1px dotted #d53781;border-radius: 10px;position: relative;padding:15px;}
.top_list h2{margin:0;position: absolute;right:0;top:-25px;}
.top_list h3{color:#969696;height: 40px;font-size: 14px;padding-top: 10px;}
.top_list ul li {color:#969696;font-size: 14px;height: 30px;line-height: 30px;}
.top_list ul li.me{color:#d53781;font-size: 14px;}
.top_list ul li .name{    vertical-align: -9px;max-width:52px;display: inline-block;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
.top_list ul li .flower_num{float: right;}
.top_list ul li img{width:20px;vertical-align: -5px}

/*弹框样式*/
.position_all {display:none;position: fixed;width:100%;height: 100%;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.5);}
.alert_convert {display:none;background:#fff;height: 650px;width:540px;position: fixed;top: 50%;left:50%;transform:translate(-50%,-50%);}
.close_btn {position: absolute;right:-20px;top:-20px;height: 45px;width:45px;display: inline-block;background: url(../img/close_btn.png);cursor:pointer;}
.card_convert {background: url(../img/card_back.png) no-repeat top #f6f0eb;}
.convert_body .qb {position:absolute;top: 149px;left: 163px;transform: rotate(13deg);}
.card_convert .convert_body {padding-top: 365px;padding-right: 32px;}
.card_convert .item {position:relative;padding-left:80px;color:#fff;font-size: 16px;height: 42px;line-height: 42px;}
.card_convert .item input{font-size:12px;padding-left:10px;width: 315px;height: 30px;line-height: 30px;margin-left: 20px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;}
.card_convert .error {height:32px;padding-top:5px;color:#fff;padding-left: 150px;font-size: 14px;}
.card_convert .phone_text {line-height: 22px;padding-left: 65px;padding-top: 8px; height: 80px;}
.card_convert .phone_text p{font-size: 14px;}
.card_convert textarea {top:8px;height:50px;padding:10px;width: 293px;font-size: 12px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;position: absolute;font-family: "微软雅黑";left: 164px;}
.btn_box {height: 75px;width:100%;text-align: center;}
.btn_box .btn_convert{display:inline-block;margin:20px auto;cursor:pointer;color:#fff;font-size:20px;height: 40px;padding:0 20px;text-align: center;border-radius: 20px;background: linear-gradient(#ff8d00,#ff7600,#ff5a00);border:1px solid #db4300;box-shadow:1px 1px 3px #ff8938 inset,1px 1px 5px #555;}
.btn_box .nut_img{display: inline;vertical-align: middle;}

/*弹框内小弹框*/
.inner_position {display:none;position: absolute;height: 100%;width:100%;background: rgba(255,255,255,.9);top:0;}
.alert_result {display:none;box-shadow:5px 5px 5px #dcdcdc;width:390px;margin:50px auto;min-height:400px;position: relative;background: #f6f0eb}
.alert_result h2 {border-radius:5px 5px 0 0;text-align:center;font-size:20px;color:#fff;height: 52px;line-height: 52px; background: linear-gradient(#fe7900,#d75301)}
.result_body {padding:40px 0 20px;text-align: center;}
/*充值兑换成功弹框内容*/
.result_body h3{color:#666;font-size: 18px;height: 42px;}
.result_body h4{color:#f16700;font-size: 24px;height: 43px;font-weight: bold;}
.result_body .qb_img{text-align:left;display: inline-block;width:322px;height: 183px;background: url(../img/fox_phone.png);}
.result_body .qb_img img{margin: 54px 0 0 16px;width: 119px;}
.result_body .know_btn{display:block;margin:40px auto 0;cursor:pointer;color:#fff;font-size:16px;line-height:30px;height: 35px;width:123px;text-align: center;border-radius: 3px;background: linear-gradient(#f16f1c,#cf3600);border:1px solid #db4300;box-shadow:1px 1px 3px #ff8938 inset;}

/*实物兑换内容弹框*/
.convert_sw_alert {height: 580px;}
.convert_sw_alert .convert_body{ height: 580px;overflow:hidden;overflow-y: scroll;padding-bottom: 20px;background: #f6f0eb}
.convert_sw_alert .btn_box .btn_convert {margin:20px;line-height: 35px;}
.sp_img_list {font-size:14px;color: #fff;height: 465px;width: 523px;background: url(../img/duihuanLW.png) no-repeat;padding:10px;}
.sp_img_list h3{padding:15px;height: 40px;}
.sp_img_list .sp_mesaage {height: 40px;line-height: 20px;margin:15px 15px;}
.sp_img_list .ms_text{height: 60px;overflow: :hidden;overflow-y:auto;margin: 0 5px 0 15px;padding-right: 5px;}
.img_list {height: 260px;overflow:hidden;overflow-y:auto;width:539px; }
.img_list span{display:inline-block;float:left;height: 246px;width:246px;margin-bottom:15px;background: rgba(255,255,255,.9);}
.img_list span:nth-child(2n){margin-left: 10px;}
.img_list span img{width:100%;height: 100%}
.convert_input {margin:10px 30px;color: #969696;}
.convert_input .text_input{font-size:12px;width: 100%;height: 30px;line-height: 30px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;}
.num_input input{float:left;text-align:center;color: #999; display:inline-block;width:65px;height: 26px; border:1px solid #333;border-left:0;border-right:0;background: transparent;}
.num_input span{cursor:pointer;float:left;text-align:center;display:inline-block;width:25px;height: 26px; border:1px solid #333;background: transparent;border-radius: 5px 0 0 5px}
.num_input span:last-child{border-radius: 0  5px 5px 0; }
.convert_input select{width: 32%;height: 30px;line-height: 30px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;}
.convert_input tr td{height: 40px;vertical-align: top;padding-left:10px;}
.convert_input tr td:first-child{width:20%;padding:0;}

.address {box-sizing:border-box;border:0;width:100%;height: 70px;padding:10px;line-height: 22px;border-radius: 5px;box-shadow: 0 3px 5px #c9acb9 inset;overflow-y:auto;overflow-x:hidden;max-width: 322px;color:#000;font-family: "微软雅黑"}
.ts_message {border:1px dotted #969696;padding:10px 5px;border-radius: 5px;margin:10px 20px;font-size: 12px;color:#969696;}

/*实物兑换确认弹框*/
.dh_affirm  {margin-top:30px;}
.dh_affirm .result_body {padding:20px;}
.dh_affirm .sp_affirm {font-size: 18px;height: 40px;color: #646464;width:100%;text-align: left;}
.dh_affirm .dt_affirm tr td{font-size: 18px;height:45px;height:auto;color: #646464;width:100%;text-align: left;}
.dh_affirm .sp_affirm tr td:last-child{text-align: right;}
.dh_affirm .dt_affirm tr td:first-child{width:30%;text-align: right;vertical-align: top;}
.dh_affirm  .dh_img{display:inline-block;width:128px;width:128px;background: #fff;border-radius: 3px;border: 1px solid #f0e8d9;margin:15px 0;}
.dh_affirm  .dh_img img{width:128px;width:128px;}

/*实物兑换成功弹框*/
.dh_affirm .alert_result {margin-top: 80px;}
.result_body .hository {text-decoration: underline;color:#5279f7;}
.img_ontheway {margin:20px auto;}

.result_body .mart_20 {margin-top: 20px}